<section class="camera_container">
        <div id="camera" class="camera_wrap center bg-general" style="display: block; height: 450px;">
          <div class="camera_fakehover">

            <div class="camera_target_content">
              <div class="cameraContents">
                <div class="cameraContent">
                <div class="camera_caption" style="visibility: visible; opacity: 1;">
              <div>

              <div class="bg_sec3" style="visibility: hidden;">
                <h2>
                  لماذا هدهدة؟
                </h2>
                <p>
                  شركة البحث الشهيرة جوجل قامت مؤخراً بخطوة استثنائية، بإضافة خدمة الخريطة الشمسية، التي تحسب أشعة الشمس التي...
                  شركة البحث الشهيرة جوجل قامت مؤخراً بخطوة استثنائية، بإضافة خدمة الخريطة الشمسية، التي تحسب أشعة الشمس التي...
                  شركة البحث الشهيرة جوجل قامت مؤخراً بخطوة استثنائية، بإضافة خدمة الخريطة الشمسية، التي تحسب أشعة الشمس التي..
                </p>
              </div>
            </div></div>
          <div class="col-sm-6 col-md-6 pull-right" id="family">
               <!--  <img class="img-responsive"src="/assets/banner-1.png" style="position: relative;top: 13.4em;"> -->
      <img src="/assets/logo.png" width="370" height="370" style="visibility: hidden;" id="logo" >
                </div>
          </div></div></div></div></div>
</section>

<section id="services" style="visibility: hidden;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">آخر المقالات</h2>
                    <br/>
                    <br/>
                </div>
            </div>
        <div class="row text-center">
          <%if @articles!=nil%>
          <% @articles.each do |art|%>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail pad-0" style="background-color:<%=art.color%>;border: 1px solid <%=art.color%>;">
            <img src='<%="/images/#{art.id}.png" rescue " "%>' class="img-responsive">
              <div class="caption" style="color:#fff;">
                <%if art.title.length>30%>
                <h3 style="min-height: 45px;"><%=art.title.first(28)%> ...</h3>
                <%else%>
                <h3 style="min-height: 45px;"><%=art.title.first(30)%></h3>
                <%end%>
                <%if art.content.length>33%>
                <p> <%=art.content.first(30).html_safe %>...</p>
                <%else%>
                <p><%= art.content.html_safe %></p>
                <%end%>
              <a href="/<%= art.category.name.split(' ').join('-')%>/<%= art.title.split(' ').join('-')%>/<%=art.id%>" class="btn btn-md btn-secondary btn-xs" role="button">اقراء المزيد</a>
            </div>
          </div>
        </div>
        <%end%>
        <%end%>
        </div>
        </div>
    </section>
    
        <% if @brain != nil%>
        <section class="bg-2">
        <div class="container pad-bot">
            <div class="row">
                <div class="grid_12">
                    <div class="w3">
                      <%if @brain.title.length>30%>
                          <div class="title-1"><%=@brain.title.first(28)%> ..</div>
                      <%else%>
                          <div class="title-1"><%=@brain.title.first(30)%></div>
                      <%end%>
                      <%if @brain.content.length>90%>
                        <div class="text-2"><%=@brain.content.first(87).html_safe %>...</div>
                      <%else%>
                        <div class="text-2"><%= @brain.content.html_safe %></div>
                      <%end%>
                    <a href="/<%= @brain.category.name.split(' ').join('-')%>/<%= @brain.title.split(' ').join('-')%>/<%=@brain.id%>" class="btn btn-md btn-brain" role="button">اقراء المزيد</a>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <% end %>
<style type="text/css">
.bg-2 {
    background: #ffffff url(/assets/bg-1.png) 100% bottom no-repeat;
    color: #000000;
    height: 425px;
    background-position-x: 100%;
    background-position-y: 62%;
    background-size: 57%;
    margin-top: 30px;
}
.bg-2 .pad-bot {
    padding-bottom: 134px;
}
.grid_12 {
    width: 1170px;
}
.w3 {
    width: 64%;
    float: left;
}
.bg-2 .title-1 {
    color: #15c1e5;
    padding-bottom: 30px;
}
.title-1 {
    font-size: 60px;
    line-height: 71px;
    font-family: 'Bowlby One', cursive;
    padding-top: 51px;
}
.bg-2 .text-2 {
    width: 91%;
}
.text-2 {
    font-size: 17px;
    line-height: 26px;
}
.btn-brain{
    color: #393030;
    background: #FFFFFF;
    border-color: #393030;
    padding: 10px 15px 10px;
}
.btn-brain:hover, .btn-brain:active {
    background: #15c1e5;
    border-color: #fff;
    color: #fff;
}
@media (max-width: 768px){
.bg-2 {
    background: #ffffff url(/assets/bg-1-1.png) right bottom no-repeat;
}
.bg-2 .pad-bot {
    padding-bottom: 134px;
}
.grid_12 {
    width: 100%;
}
.w3 {
    width: 100%;
    background: url(/assets/opac-1.png) 0 0 repeat;
}
.title-1 {
    font-size: 50px;
    line-height: 52px;
}
.btn-brain{
    margin-right: 35%;
    margin-bottom: 2%;
}
}
</style>
    <section>
      <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h2 class="qs">اقتباسات</h2>
                <img src="/quotes/1.png" width="450" height="400" id="quote">
            </div>
            <div class="col-sm-6 text-center">
              <a href="<%= sound_index_path%>">
                <h2 class="hads">هدهدات</h2>
                </a>
                <a href="<%= sound_index_path%>">
                <img src="/assets/music.jpg" width="450" height="400" id="hadhadat">
                </a>
            </div>
        </div>
      </div>
    </section>


    <div class="row showcase_row1">
            <div class="col-sm-6 custom_showcase custom_showcase__1">
                <div class="custom_showcase_wr maxheight showcase_bg" style="height: 469px;"><div class="box_inner">
   
                    <div class="inside_abs">
                    
                    <div class="inside">
                        <h3>New Arrivals</h3>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita.</p>
                        <a href="/products/air-jordan-baby-infant-3pcs-sets-bodysuit-layette-oneies" class="btn btn-big">Shop now!</a>
                    </div>
                    
                    </div>
                    

                </div></div>
            </div>
        
            <div class="col-sm-6 custom_showcase custom_showcase__2">
                <div class="custom_showcase_wr maxheight " style="height: 469px;"><div class="box_inner">
                <div class="showc_img_wr">
                  <img src="/quotes/1.png" width="520" height="469" alt="لا يوجد ما هو أسوأ من الإهمال"></div>
                </div></div>
            </div>
        
    
</div>
<style type="text/css">
.custom_showcase {
    margin-top: 30px;
    text-align: center;
    overflow: hidden;
}
.custom_showcase__1 {
    width: 41.6667%;
}
.custom_showcase__2 {
    width: 58.3333%;
}
.custom_showcase .showcase_bg {
    background: #f54c61;
}
.custom_showcase .custom_showcase_wr {
    position: relative;
    display: block;
}
.showcase_row1 {
  margin-left: 0px;
  margin-right: 0px;
}
.showcase_row1 * {
    color: #ffffff;
}
.custom_showcase .inside_abs {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.custom_showcase .inside {
    padding: 20px 30px 36px;
}
.showcase_row1 h3 {
    margin-bottom: 10px;
    font-size: 74px;
    line-height: 0.86em;
}
.showcase_row1 p {
    font-size: 13px;
    margin-top: 0;
}
.custom_showcase p {
    max-width: 440px;
    margin: 0 auto;
}
.showcase_row1 .showc_img_wr {
    background: #000;
}
.showcase_row1 img {
    opacity: .8;
}
.custom_showcase.custom_showcase__2 h3 {
    font-size: 94px;
}

</style>
    <div class="push"></div>
 <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                <span class="copyright text-muted">Copyright &copy; 
                    <a href="#" target="_blank">
                    <b>Hadhada</b>
                    </a> 2016</span>
                </div>
                <div class="col-md-6 text-right">
                  <div class="social-area pull-right">                
                    <a class="btn btn-social btn-facebook btn-simple" href="#" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-social btn-twitter btn-simple" href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social btn-instagram btn-simple" href="#" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="/assets/mainer.js"></script>

<script>
    $(window).scroll(function() {
        $('#cats').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+370) {
                $(this).addClass("animated fadeInUp");
                $(this).attr('style','visibility: visible;');
            }
        });
        $('#services').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+350) {
                $(this).addClass("animated fadeInUp");
                $(this).attr('style','visibility: visible;');
            }
        });
        $('#logo').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+350) {
                $(this).addClass("animated bounceInRight");
                $(this).attr('style','visibility: visible;');
            }
        });
        $('.bg_sec3').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+350) {
                $(this).addClass("animated bounceInLeft");
                $(this).attr('style','visibility: visible;');
            }
        });
    });
</script>

<style type="text/css">
.qs{
  margin-top: 80px;
  font-size: 40px;
  color: #DEBD83;
  letter-spacing: 1.4px;
}
.hads{
  position: absolute;
  top: 9.5em;
  right: 5.3em;
  z-index: 200;
  color: #FDDE46;
  font-size: 40px;
  letter-spacing: 1.4px;
}
#hadhadat{
  position: relative;
  top: 5em;
}
#logo{
  position: relative;top: 3.2em;right: 8em;
}

.btn-lg{padding: 4px 25px; margin-top: 7px;}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 50%;
    border: 0;
    margin-bottom: 15px;
    color: #fff;
    position: relative;
    top: 10em;
    z-index: 10;
    max-height: 192px;
    max-width: 188px;
}


/*#F3004E mama tktob*/
/*om jadeda #BCF749*/
/*trjmat rgb(245, 116, 4)*/
/*rde3e #34BBAF*/

@media (min-width: 768px) {
.panel:hover{
     -moz-transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
#services .col-md-3:hover {
-moz-transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
#services .col-md-3 .thumbnail{min-height: 360px;max-height: 360px;}
#services .col-md-3{
  float: right;
}
}
@media (max-width: 768px) {
  #family{display: none;}
  #cats{
    position: relative;
    display: block;
    margin-bottom: 40px;
  }
  .panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 50%;
    border: 0;
    margin-bottom: 15px;
    color: #fff;
    position: relative;
    top: 3em;
    right: 5em;
    z-index: 10;
    max-height: 192px;
    max-width: 188px;
}
#hadhadat{
  left: 4em;
}
.hads{
  right: 2.8em;
} 
}
.panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-body {
    padding: 25px 20px;
}
.mar-btm {
    margin-bottom: 8px;
}
.text-sm {
    font-size: 26px;
}
.panel:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.panel img {
  -webkit-transition: all 220ms ease-in-out;
  -moz-transition: all 220ms ease-in-out;
  -o-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
  width: 50px;
  margin-top: 0px;
}
.panel .btn{margin-top: 15px;}

.panel {
  -webkit-transition: all 220ms ease-in-out;
  -moz-transition: all 220ms ease-in-out;
  -o-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}

#services .col-md-3 {
    -webkit-transition: all 220ms ease-in-out;
  -moz-transition: all 220ms ease-in-out;
  -o-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;

}

#services .col-md-3:hover .thumbnail{
  border: 1px solid rgba(102, 102, 102, 0.52);
}

.thumbnail>img {
    max-height: 180px;
    min-height: 180px;
    min-width: 250px;
}
</style>