<div class="container">
    <div class="row" style="margin-top:35px;">
      <div class="col-sm-12 text-right">
        <h1 class="section-heading"><%= @category.name%></h1>
          <br/>
          <br/>
      </div>
    </div>
  <%if params[:id].to_i==2%>
<div class="row" style="margin-bottom:50px;">
      <div class="col-md-3 col-md-offset-1 col-sm-6">
          <div class="panel" style="background-color:<%=@cats0.color%>;min-height:564px;box-shadow: 0 0 0 7px <%=@cats0.color%>;">
            <div class="panel-body text-center">
              <p class="text-uppercase text-sm"><%=@cats0.name%></p>
                <img src="/assets/couple.png" style="margin-right:-18px;margin-top:33px;margin-bottom:60px;"/>
                  <br><br>
              <a href="<%=category_index_path(:id=>@cats0.id)%>" class="btn btn-md btn-secondary">المزيد</a>
            </div>
          </div>
      </div>
      <div class="col-md-7 col-sm-6">
          <div class="panel" style="background-color:<%=@cats1.color%>;min-height: 215px;box-shadow: 0 0 0 7px <%=@cats1.color%>">
            <div class="panel-body text-center">
              <p class="text-uppercase text-sm"><%=@cats1.name%></p>
                <img src="/assets/three.png"/>
                  <br><br>
              <a href="<%=category_index_path(:id=>@cats1.id)%>" class="btn btn-md btn-secondary">المزيد</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="panel" style="background-color:<%=@cats2.color%>;min-height: 213px;box-shadow: 0 0 0 7px <%=@cats2.color%>">
            <div class="panel-body text-center">
              <p class="text-uppercase text-sm"><%=@cats2.name%></p>
                <img src="/assets/care.png"/>
                  <br><br>
              <a href="<%=category_index_path(:id=>@cats2.id)%>" class="btn btn-md btn-secondary">المزيد</a>
            </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="panel" style="background-color:<%=@cats3.color%>;min-height: 213px;box-shadow: 0 0 0 7px <%=@cats2.color%>">
            <div class="panel-body text-center">
              <p class="text-uppercase text-sm"><%=@cats3.name%></p>
                <img src="/assets/food.png"/>
                  <br><br>
              <a href="<%=category_index_path(:id=>@cats3.id)%>" class="btn btn-md btn-secondary">المزيد</a>
            </div>
          </div>
      </div>
</div>
<style type="text/css">
.panel{
    border: 6px solid #fff;
    min-height: 260px;
}
.panel-body p {
  font-size: 26px;
  color: #fff;
  margin-bottom: 10px;
}
.panel-body i{
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}
.panel-body .btn{
  padding: 8px 25px 8px;
  font-size: 16px;
  margin-top: 0px;
}
</style>         
    <%else%>
  <div class="row">
    <% @articles.each do |art|%>
    <div class="col-md-4 inners">
      <div class="latest_post_two_image">
        <div class="photo-wrapper">
          <div class="photo">
        <a href="/<%= art.category.name.split(' ').join('-')%>/<%= art.title.split(' ').join('-')%>/<%=art.id%>">
          <img width="359" height="290" src='<%="/images/#{art.id}.png" rescue " "%>'  class="attachment-portfolio_masonry_with_space size-portfolio_masonry_with_space wp-post-image" alt="<%= art.title%>" sizes="(max-width: 700px) 100vw, 700px">
        </a>
      </div>
        </div>
      </div>
      <div class="latest_post_two_inner" style="background-color: #f7f7f7;">
        <div class="latest_post_two_text">
          <h4 class="latest_post_two_title">
            <%if art.title.length > 35%>
            <a href="/<%= art.category.name.split(' ').join('-')%>/<%= art.title.split(' ').join('-')%>/<%=art.id%>">
              <%= art.title.first(35)%>..</a>
            <%else%>
              <a href="/<%= art.category.name.split(' ').join('-')%>/<%= art.title.split(' ').join('-')%>/<%=art.id%>">
              <%=art.title%></a>
            <%end%>
          </h4>
          <p class="latest_post_two_excerpt"><%=art.content.first(200).html_safe %>...</p>
          <a href="/<%= art.category.name.split(' ').join('-')%>/<%= art.title.split(' ').join('-')%>/<%=art.id%>" class="btn btn-m btn-s btn-xs" 
                role="button">اقراء المزيد</a>
        </div>
        <div class="latest_post_two_info" style="border-color: #e0e0e0;">
          <div class="latest_post_two_info_inner" style="color: #303030;">
            <div class="post_info_author">
              <span class="post_info_author_name"><i class="fa fa-comment-o"></i>&nbsp; <%= art.comments.count%></span>
            </div>
            <div class="post_info_date"><i class="fa fa-clock-o"></i>&nbsp; <%= art.created_at.strftime("%Y/%m/%d")%></div>
          </div></div></div></div>
    <%end%>
  </div>
    <%end%>
</div>
<style type="text/css">
.btn-lg{padding: 4px 25px; margin-top: 7px;}
.btn-m {
    border-width: 1px;
    border-style: solid;
    border-color: #222;
    padding: 10px 23px 10px;
    margin-top: 1px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    line-height: 1.1;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
    vertical-align: middle;
    z-index: 1;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.btn-s {
    color: #000;
    background: #fff;
}
.btn-s:hover, .btn-s:active {
    background: #4ECDC4;
    border-color: #fff;
    color: #fff;
}
.latest_post_two_image{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
}
.latest_post_two_image a, .latest_post_two_image img {
    display: block;
}
.latest_post_two_inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background-color: #fff;
}
.latest_post_two_text {
    padding: 25px 33px 25px;
    overflow: hidden;
}
.latest_post_two_info {
    padding: 10px 50px 10px;
    border-top: 1px solid #eaeaea;
}
.latest_post_two_info_inner {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}
.latest_post_two_info_inner>* {
    position: relative;
    display: table-cell;
    vertical-align: top;
    font-size: 12px;
}
.latest_post_two_info_inner .post_info_author_name {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.latest_post_two_info_inner .post_info_date {
    text-align: left;
    line-height: 30px;
}
.inners{
  margin-bottom: 30px;
  float: right;
}
.latest_post_two_image:hover .photo-wrapper {
    background-color: #C1EDFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}
.photo-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #C1EDFF;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
.latest_post_two_image:hover .photo {
    opacity: 10;
    filter: alpha(opacity=4000);
    opacity: 0.4;
    filter: alpha(opacity=40);
}
</style>