<div class="container">
    <div class="row" style="margin-top:35px;">
      <div class="col-sm-12 text-right">
        <h1 class="section-heading"><%= @category.name%></h1>
          <br/>
          <br/>
      </div>
    </div>
  <%if params[:id].to_i==2%>
<div class="row">
              <%Category.all.each do |cat|%>
              <%if cat.parent_id!=nil%>
                  <div class="col-md-3 col-sm-6">
                      <div class="panel" style="background-color:<%=cat.color%>;">
                          <div class="panel-body text-center">
                              <p class="text-uppercase mar-btm text-sm"><%=cat.name%></p>
                                <i class="fa fa-users fa-5x "></i>
                                <br><br>
                                <a href="<%=category_index_path(:id=>cat.id)%>" class="btn btn-md btn-secondary">المزيد</a>
                          </div>
                      </div>
                  </div>
                  <%end%>
              <%end%>
</div>         
    <%else%>
  <div class="row">
    <% @articles.each do |art|%>
      <div class="blog-post-item col-md-6 col-sm-6 pull-right">
        <figure class="margin-bottom-20">
          <img class="img-responsive" src='<%="/images/#{art.id}.png" rescue " "%>' alt="<%= art.title%>">
        </figure>
          <h2><a href="/<%= art.category.name.split(' ').join('-')%>/<%= art.title.split(' ').join('-')%>/<%=art.id%>"><%=art.title%></a></h2>
            <i class="fa fa-clock-o"></i> 
            <span class="font-lato"><%= art.created_at.strftime("%Y/%m/%d")%></span>
            &nbsp;&nbsp;&nbsp;
            <i class="fa fa-comment-o"></i> 
            <span class="font-lato"><%= art.comments.count%></span>
              <p><%=art.content.first(200).html_safe %>...</p>
              <a href="/<%= art.category.name.split(' ').join('-')%>/<%= art.title.split(' ').join('-')%>/<%=art.id%>" class="btn btn-m btn-s btn-xs" 
                role="button">اقراء المزيد</a>
            </div>
    <%end%>
  </div>
    <%end%>
</div>
<style type="text/css">
.btn-lg{padding: 4px 25px; margin-top: 7px;}
.btn-m {
    border-width: 1px;
    border-style: solid;
    border-color: #222;
    padding: 10px 23px 10px;
    margin-top: 8px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    line-height: 1.1;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
    vertical-align: middle;
    z-index: 1;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.btn-s {
    color: #000;
    background: #fff;
}
.btn-s:hover, .btn-s:active {
    background: #4ECDC4;
    border-color: #fff;
    color: #fff;
}
.blog-post-item {
    display: block;
    margin-bottom: 80px;
    padding-bottom: 60px;
    position: relative;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;

}
.img-responsive {
    width: 500px;
    height: 250px;
    
}
.blog-post-item h2 {
    letter-spacing: 0;
    font-size: 22px;
    margin-bottom: 10px;
}
.blog-post-item p{
  padding-left: 10px;
}
</style>