<div class="container">
            <div class="row" style="margin-top:35px;">
                <div class="col-sm-12 text-center">
                    <h1 class="section-heading"><%= @category.name%></h1>
                    <br/>
                    <br/>
                </div>
            </div>
            <%if params[:id].to_i==2%>
            <div class="container">
<div class="row">
              <%Category.all.each do |cat|%>
              <%if cat.parent_id!=nil%>
                  <div class="col-md-3 col-sm-6">
                      <div class="panel" style="background-color:<%=cat.color%>;">
                          <div class="panel-body text-center">
                              <p class="text-uppercase mar-btm text-sm"><%=cat.name%></p>
                                <i class="fa fa-users fa-5x "></i>
                                <br><br>
                                <a href="<%=category_index_path(:id=>cat.id)%>" class="btn btn-md btn-secondary">المزيد</a>
                          </div>
                      </div>
                  </div>
                  <%end%>
              <%end%>
</div> 
</div>
</div>
            
            <%else%>
        <% @articles.each do |art|%>
        <div class="row">
        <div class="col-sm-6 col-md-12">
          <div class="col-md-4 pull-right">
            <img src='<%="/images/#{art.id}.png" rescue " "%>' class="img-responsive" style="height:301px;">
          </div>
          <div class="col-md-8">
                <h3 style="min-height: 45px;"><%=art.title.first(80)%></h3>
                <p> <%=art.content.first(520).html_safe %>...</p>
              <a href="/<%= art.category.name.split(' ').join('-')%>/<%= art.title.split(' ').join('-')%>/<%=art.id%>" class="btn btn-m btn-s btn-xs" role="button">اقراء المزيد</a>
            </div>
    </div>
  </div>
  <hr/>
  <br>
    <%end%>
    <%end%>
</div>

<style type="text/css">
.btn-lg{padding: 4px 25px; margin-top: 7px;}
.btn-m {
    border-width: 1px;
    border-style: solid;
    border-color: #222;
    padding: 10px 23px 10px;
    margin-top: 0px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    line-height: 1.1;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
    vertical-align: middle;
    z-index: 1;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.btn-s {
    color: #000;
    background: #fff;
}
.btn-s:hover, .btn-s:active {
    background: #4ECDC4;
    border-color: #fff;
    color: #fff;
}
</style>