<!DOCTYPE html>
<html>
<head>
  <title>هدهدة</title>

  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  


  <%= csrf_meta_tags %>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
<link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"><!-- load animate -->
</head>
<body>
<%= render "shared/home_menu" %>
      <%= render "shared/dashboard" %>
      <div class="maincontent">
        <div class="wrap">
  <%= yield %>
        </div>
      </div>
<%= render "shared/flash" %>

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<style type="text/css">
.navbar-custom {
   background: #4F95A9;
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
.navbar-custom .navbar-nav li a{color: #fff;}

.wrap{
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}
</style>
</body>


</html>
