<!DOCTYPE html>
<html>
<head>
  <title>هدهدة</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>


 
  <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="description" content="hadhada">
    <meta name="keywords" content="baby,family,young,boy,girl
    ,infient,play,
    sleep,son,daughter,mom,mother,mum,care,caring">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"><!-- load animate -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body>
<%= render "shared/home_menu" %>
<% if (action_name!="sign") && (action_name!="signup")%>
<%= render "shared/head" %>
<%end%>
<%= yield %>
<%= render "shared/flash" %> 

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
</body>
</html>
